.navbar-bg {
    background-color: rgb(0, 0, 0);
}

.btn-primary-button {
    background-color: rgb(196, 0, 0);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

.btn-primary-button:hover {
    background-color: white;
    color: black;

}

